body{
    background-color: lightgoldenrodyellow;
}



h1 { color: red;
    font-style: italic; 
    font-size: 50px;
    text-align: center;
}

h2 {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

.primeropgrf { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
font-size: 20px;

} 
 
.imagens{
    display: flex;
    justify-content: center;
    align-items:center
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
} 

a {
display: block;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
font-size: 40px;
}
